<?
  $mainColor2 = '#6f6';
  $mainColor = '#0e0';
  $textColor1 = '#444';
  $textColor2 = '#777';
  $linkColor = '#000';
  $footerColor = '#333';
?>

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
body { 
  color: <?= $textColor1 ?>;
  font-family: 'jaf-facitweb', 'Hevetica Neue', 'Helvetica', 'Segoe UI', 'Roboto', 'Droid Sans', Arial, sans-serif !important;
  line-height: 160%;
  text-align: center; margin: 0 0 0 0; vertical-align: middle; 
} 

body, code, pre {
  font-size: 14px;
}

code, pre, .pre {
font-family: 'Pragmata Pro', 'Liberation Mono', 'Source Code Pro', 'Droid Sans', 'Envy Code R', Consolas, Menlo, monospace !important;  
}

.nameda{display: block; position: relative; top: -50px; visibility: hidden;}

.col-3 {
			-webkit-column-count: 3;
			-webkit-column-gap: 10px;

			-moz-column-count: 3;
			-moz-column-gap: 10px;

			column-count: 3;
			column-gap: 10px;
}
.col-5 {
			-webkit-column-count: 5;
			-webkit-column-gap: 10px;

			-moz-column-count: 5;
			-moz-column-gap: 10px;

			column-count: 5;
			column-gap: 10px;
}

.docbody {
  width: 680px;
}

.col-5 a {
  color: rgba(0,0,0,0.5);  
  text-shadow: none;
}

header, .main-container {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  padding: 0;
}

.functionhead {
  font-size: 130%;
  padding-top: 12px;
  color: #99e;
  padding-bottom: 12px;
  margin-top: 24px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.fname {
  color: #808;
}

.farg {
  color: #448;
  font-style: italic;
}

.minihdr {
  color: gray;
  font-weight: bold;
}

.seealso {
  margin-top: 12px;

}

h3 {
  color: #666;
}

h2 {
  color: #444;
}

code {
  color: green;
}

.main-container {
  margin-top: 58px;
  margin-bottom: 74px;
  min-height: 600px;
}

a {
  color: <?= $linkColor ?>;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
a:hover {
  text-decoration: underline;
}

a.loadsrc {
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  float: right;
  color: rgba(50,75,255, 0.5);
  font-size: 200%;
}
a.loadsrc:hover {
  background: rgba(0,0,0,0.05);
}

pre {
  width: 85%;
  padding: 12px;
  font-size: 13px !important;
}

.sh_np {
  font-weight: bold;
  border-left: 1px solid rgba(0,0,0,0.1);
  xborder-right: 1px solid rgba(0,0,0,0.1);
}

.op {
  border-top: 4px double rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  padding: 12px;
  color: rgba(0,125,35,0.75);
  margin-top: -12px;
}

.megabutton {
  display: inline-block;
  padding: 12px;
  width: 200px;
  border-radius: 8px;
  background: #eee;
  font-weight: bold;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 14px rgba(0,0,0,0.1);
}

#side
{
  position: fixed;
  width: 400px;
  left: 50%;
  top: 31px;
  margin-left: 70px;
  padding: 6px;
  height: 90%;
}

.header-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background: #fff;
  box-shadow: 0px 15px 15px rgba(255,255,255,0.75);
}

.footer-container {
  position: static;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 0;
  font-size: 12px;
}

footer {
  text-align: center;
  padding: 2;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
  font-weight: normal;
}
 
footer a {
  font-weight: bold;
}

.tutcol {
  width: 540px;
}

h1,h2,h3 {
  color: <?= $textColor2 ?>;
  text-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

h1.title {
  float: left;
  font-size: 16px;
  margin: 0;
  padding: 4px;
}

header a {
  display: inline-block;
  padding: 8px;
  padding-bottom: 6px;
  padding-left: 12px;
}

nav {
  float: right;
  padding: 0;
  margin: 0;
}



