<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>hqb.fpuebrgre@tznvy.pbz</string>
	<key>contactName</key>
	<string>Udo Schroeter</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>np</string>
	<key>uuid</key>
	<string>31E1D8FE-C081-4AE5-AC25-CD0938CB9F53</string>
</dict>
</plist>
